{% extends 'base.html' %} {% load static%} {% load crispy_forms_tags %} {% block content %}
<div class="desc-view-header" style="max-width:100%">

    <div class='container' style="max-width:100%; background:url({% static 'Images/cream_pixels.png' %})">


        <!--Row 1-->
        <div class='row'>
            <div class='desc-row1-title'>
                <h1 class='desc-view-header-shortname'>{{ConferenceName}}</h1>
                <h2 class='desc-view-header-title'>{{ConferenceDescription}}</h2>
            </div>
        </div>
        <hr>

        <!--Row 2-->
        <div class='row'>
            <div class='col'>
                <div class='desc-view-header-datum location'><i class="fas fa-map-marker-alt"></i> {{City}}, {{Country}}
                </div>
            </div>
            <div class='col'>
                <div class='desc-view-header-datum conf_dates'><i class="far fa-calendar-alt"></i> {{conf_start_date|date:"d"}} - {{conf_end_date|date:"d, M y"}}
                </div>
            </div>
            <div class='col'>
                <div class='desc-view-header-datum conf_begins'><i class="fas fa-landmark"></i> {{DaysDesc}}</div>
            </div>
        </div>

    </div>
    <hr>
</div>

<div class="container" style="max-width:90%;">

    <!--Row 3-->
    <div class='row'>
        <div class='col'>
            <h2 style="width:100%">Important Dates</h2>
            <div class='table'>
                <div class='table-row'>
                    <div class='table-cell title'>Abstract Submission Deadline</div>
                    <div class='table-cell info'>{{sub_date}}</div>
                </div>
                <div class='table-row'>
                    <div class='table-cell title'>Abstract Acceptance Notification</div>
                    <div class='table-cell info'>{{acceptance_date}}</div>
                </div>
                <div class='table-row'>
                    <div class='table-cell title'>Full Paper Deadline</div>
                    <div class='table-cell info'>{{conf_end_date}}</div>
                </div>
            </div>
        </div>
        <div class='col'>
            <h3 class='desc-list-title'>Conference Category</h3>

            <div class="desc-interest-widget-container">
                <div class="desc-interest-widget-item category" title="Humanities">
                    <h3>
                        {{MainCategory}} > {{SubCategory}}
                    </h3>
                </div>
                {% if buttonEnable %}
                <div style="margin-top:7px;" data-toggle="modal" data-target="#uploadModal" class="desc-interest-widget-item category buttonSubmit" title="Submit Abstract">
                    <h3>
                        Submit Abstract
                    </h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Model  - Popup Box-->
    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">File upload form</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method='post' enctype="multipart/form-data">
                        {% csrf_token %} Select file : <input type='file' name='file' id='file' class='form-control'><br>
                        <input type='submit' class='btn btn-info' value='Upload' id='btn_upload'>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!--Row 4-->
    <div class='row'>
        <h2>About {{ConferenceName}}</h2>
        <p>
            {{ConferenceAbout}}
        </p>
    </div>


    <!--Row 6-->
    <div class="row">
        <div class='content_from_editor'>
            <h2>Call for Papers</h2>
            <p>
                <p>We are delighted to invite you all to attend and register for the Pediatrics conference <strong>{{ConferenceDescription}}
                </strong>which is going to be held during <strong>{{conf_start_date|date:"d"}} - {{conf_end_date|date:"d, M y"}}
                </strong>in<strong> {{City}}, {{Country}}</strong></p>
                <p>{{ConferenceName}} has been designed in an interdisciplinary manner with a multitude of tracks to choose from every segment and provides you with a unique opportunity to meet up with peers from both industry and academia and establish
                    a scientific network between them. We cordially invite all concerned people to come join us at our event and make it successful by your participation.</p>
            </p>
        </div>
    </div>


</div>

<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52095.28151269528!2d-80.7701829198761!3d35.30709725800694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUNC%20Charlotte!5e0!3m2!1sen!2sus!4v1585270339218!5m2!1sen!2sus"
        width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

{% endblock %}