{% extends 'base.html' %} {% load static%} {% block content %}

<div class="conference-view-header" style="max-width:100%; background:url({% static 'Images/cream_pixels.png' %})">

    <div class='container' style="max-width:90%;">
        <!--Row 1-->
        <div class='row'>
            <div class='conference-row1-title'>
                {% if category %}
                <h1 class='conference-view-header-title'>{{category.main_category_desc}} Conferences</h1>
                {% else %}
                <h1 class='conference-view-header-title'> Conferences</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container" style="max-width:90%;">

    <!--Row 3-->
    <div class='row conference-browse-section'>
        {% if category %}
        <h2 class="conference-browse-word">Browse {{category.main_category_desc}} Conferences..</h2>
        {% else %}
        <h2 class="conference-browse-word">Browse Conferences..</h2>
        {% endif %}
    </div>
    <!--Row 4-->

    <div class='row'>
        <div class='col-md-8'>
            {% for conference in conference_obj %}
            <div class="conference-card" style="width:100%">
                <div class=" card conference-summary-block ">
                    <a href=" {% if user_grp == 1 %}/cms/paperlist/{{conference.conf_id}}{% elif user_grp == 3 %}/cms/conf_view/{{conference.conf_id}}{% else %}/cms/conf_view/{{conference.conf_id}}{% endif %}" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="conference-header">
                                <div class="conference-short-name card-subtitle mb-2 text-muted">{{conference.name}}</div>
                            </div>
                            <h3 class="conference-title card-title"> {{conference.description}}</h3>
                            <div class="conference-info-wrap">
                                <div class="conference-info card-text">
                                    {{conference.about}}
                                </div>
                            </div>
                            <div class="conference-summary-block--research-interest no-floated">
                                <div class="interest-widget-container small">
                                    <div class="interest-widget-item category" title="Humanities">
                                        <h3>
                                            {{ conference.parent_category }} > {{ conference.child_category }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="conference-footer">
                        <a href="/cms/paperlist/{{conference.conf_id}}" style="text-decoration: none;">
                            <div class="conference-date location"><i class="fas fa-map-marker-alt"></i> {{conference.location}}</div>
                            <div class="conference-date"><i class="far fa-calendar-alt"></i> {{conference.conf_start_date|date:"d"}} - {{conference.conf_end_date|date:"d M y"}}</div>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='col-md-3 filter'>
            <div class="filters">
                <div class="filters--list">
                    <div class="search-filters--list-title">Sort By</div>
                    <ul class="search-filters--list-items">
                        <li>
                            <a class="{% if request.GET.order_by == 'alphabetical' %}is-selected{% endif %}" href="?order_by=alphabetical">Name</a>
                        </li>
                        <li>
                            <a class="{% if request.GET.order_by == 'submission_deadline' %}is-selected{% endif %}" href="?order_by=submission_deadline">Submission Deadline</a>
                        </li>
                        <li>
                            <a class="{% if request.GET.order_by == 'conference_start_date' %}is-selected{% endif %}" href="?order_by=conference_start_date">Happening Soon</a>
                        </li>
                    </ul>
                    <div class="search-filters--list-title">Categories</div>
                    <ul class="search-filters--list-items">
                        {% for main_category in main_category_list %}
                        <li>
                            <a class="{% if category.main_category == main_category.main_category %}is-selected{% endif %}" href="{{main_category.main_category}}">{{main_category.main_category_desc}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="search-filters--list-title">Past Conferences</div>
                    <ul class="search-filters--list-items">
                        <li>
                            <a class="{% if past_conferences == 'past_conferences' %}is-selected{% endif %}" href="past_conferences">Past conferences</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}