{% extends 'base.html' %}
{% load static%}
{% block content %}

    <div class="conference-view-header" style="max-width:100%; background:url({% static 'Images/cream_pixels.png' %})">

        <div class='container' style="max-width:90%;">
            <!--Row 1-->
            <div class='row'>
                <div class='conference-row1-title'>
                    {% if request.GET.category %}
                    <h1 class='conference-view-header-title'>{{category.main_category_desc}} Conferences</h1>
                      {% else %}
                     <h1 class='conference-view-header-title'> Conferences</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="container" style="max-width:90%;">

        <!--Row 3-->
        <div class='row conference-browse-section'>
            {% if request.GET.category %}
            <h2 class="conference-browse-word">Browse {{category.main_category_desc}} Conferences..</h2>
            {% else %}
            <h2 class="conference-browse-word">Browse Conferences..</h2>
            {% endif %}
        </div>
        <!--Row 4-->

        <div class='row'>
            <div class='col-md-8' >
           {% for conference in conference_obj %}
            <div class="conference-card" style="width:100%">
                <div class=" card conference-summary-block ">
                    <a href="" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="conference-header">
                                <div class="conference-short-name card-subtitle mb-2 text-muted">{{conference.name}}</div>
                            </div>
                            <h3 class="conference-title card-title"> {{conference.description}}</h3>
                            <div class="conference-info-wrap">
                                <div class="conference-info card-text">
                                    {{conference.about}}
                                </div>
                            </div>
                            <div class="conference-summary-block--research-interest no-floated">
                                <div class="interest-widget-container small">
                                    <div class="interest-widget-item category" title="Humanities">
                                        <h3>
                                            {{ conference.parent_category }} > {{ conference.child_category }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="conference-footer">
                        <a href="/c/international-conference-on-process-engineering-and-advanced-materials-2020/14095" style="text-decoration: none;">
                            <div class="conference-date location"><i class="fas fa-map-marker-alt"></i> {{conference.location}}</div>
                            <div class="conference-date"><i class="far fa-calendar-alt"></i> {{conference.conf_start_date|date:"d"}} - {{conference.conf_end_date|date:"d M y"}}</div>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            <div class='col-md-3 filter'>
                <div class="filters">
                    <div class="filters--list">
                        <div class="search-filters--list-title">Categories</div>
                        <ul class="search-filters--list-items">
                            {% for main_category in main_category_list %}
                            <li>
                                <a class="{{main_category.css}}" href="?category={{main_category.main_category}}">{{main_category.main_category_desc}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}